{% extends 'base.html.twig' %}

{% block title %}Edit Specialization{% endblock %}

{% block body %}
    <h1>Edit Specialization</h1>

    {{ include('specialization/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_specialization_index') }}">back to list</a>

    {{ include('specialization/_delete_form.html.twig') }}
{% endblock %}
