{% extends 'includes/header.html.twig' %}

{% block title %}New Specialization{% endblock %}

{% block main_content %}
   	{# <div class="container d-flex justify-content-center align-items-center vh-100">#}
		<div class="row justify-content-center"> 
			<div class="col-md-10">
				<div class="form-container">
					<h2 class="mb-3">Añadir especialización</h2>

					{{ include('specialization/_form.html.twig') }}

					{# <a href="{{ path('app_user_index') }}">back to list</a> #}
				</div>
			</div>
	 	</div>
	{#</div> #}
{% endblock %}
